### 5. np.empty()

In [1]:
import numpy as np

In [ ]:
Random Values
default values are zero
When user have to set manual values

In [2]:
arr = np.empty(5)
arr

array([2.12199579e-314, 1.05699242e-307, 6.58095440e-321, 1.16709769e-312,
       1.60220936e-306])

In [3]:
arr = np.empty(3,4)
arr

TypeError: Cannot interpret '4' as a data type

In [5]:
arr = np.empty(10)
arr

array([2.41907520e-312, 6.79038654e-313, 6.79038653e-313, 2.37663529e-312,
       2.14321575e-312, 2.37663529e-312, 2.56761491e-312, 1.08221785e-312,
       1.10343781e-312, 1.69121367e-306])

### 6. linspace()

In [ ]:
np.linspace(start,stop,num=50,retstep = True)
Return Evenly spaced values

In [6]:
array1 = np.linspace(1,50)
array1

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26.,
       27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38., 39.,
       40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50.])

In [7]:
array1 = np.linspace(1,50, num=50)
array1

array([ 1.,  2.,  3.,  4.,  5.,  6.,  7.,  8.,  9., 10., 11., 12., 13.,
       14., 15., 16., 17., 18., 19., 20., 21., 22., 23., 24., 25., 26.,
       27., 28., 29., 30., 31., 32., 33., 34., 35., 36., 37., 38., 39.,
       40., 41., 42., 43., 44., 45., 46., 47., 48., 49., 50.])

In [8]:
array1 = np.linspace(1,50, num=20)
array1

array([ 1.        ,  3.57894737,  6.15789474,  8.73684211, 11.31578947,
       13.89473684, 16.47368421, 19.05263158, 21.63157895, 24.21052632,
       26.78947368, 29.36842105, 31.94736842, 34.52631579, 37.10526316,
       39.68421053, 42.26315789, 44.84210526, 47.42105263, 50.        ])

In [10]:
array1 = np.linspace(1,20, num=50, retstep=True)
array1

(array([ 1.        ,  1.3877551 ,  1.7755102 ,  2.16326531,  2.55102041,
         2.93877551,  3.32653061,  3.71428571,  4.10204082,  4.48979592,
         4.87755102,  5.26530612,  5.65306122,  6.04081633,  6.42857143,
         6.81632653,  7.20408163,  7.59183673,  7.97959184,  8.36734694,
         8.75510204,  9.14285714,  9.53061224,  9.91836735, 10.30612245,
        10.69387755, 11.08163265, 11.46938776, 11.85714286, 12.24489796,
        12.63265306, 13.02040816, 13.40816327, 13.79591837, 14.18367347,
        14.57142857, 14.95918367, 15.34693878, 15.73469388, 16.12244898,
        16.51020408, 16.89795918, 17.28571429, 17.67346939, 18.06122449,
        18.44897959, 18.83673469, 19.2244898 , 19.6122449 , 20.        ]),
 0.3877551020408163)

In [11]:
array1 = np.linspace(1,20, num=40, retstep=True)
array1

(array([ 1.        ,  1.48717949,  1.97435897,  2.46153846,  2.94871795,
         3.43589744,  3.92307692,  4.41025641,  4.8974359 ,  5.38461538,
         5.87179487,  6.35897436,  6.84615385,  7.33333333,  7.82051282,
         8.30769231,  8.79487179,  9.28205128,  9.76923077, 10.25641026,
        10.74358974, 11.23076923, 11.71794872, 12.20512821, 12.69230769,
        13.17948718, 13.66666667, 14.15384615, 14.64102564, 15.12820513,
        15.61538462, 16.1025641 , 16.58974359, 17.07692308, 17.56410256,
        18.05128205, 18.53846154, 19.02564103, 19.51282051, 20.        ]),
 0.48717948717948717)

In [13]:
array1 = np.linspace(1,20, num=5, retstep=True)
array1

array([ 1.  ,  5.75, 10.5 , 15.25, 20.  ])

In [17]:
dict1 = {'zeros':np.zeros(10),
        'ones':np.ones(10),
        'arange':np.arange(10,20),
        'linspace':np.linspace(100,200,num=9)}
dict1

{'zeros': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
 'ones': array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]),
 'arange': array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19]),
 'linspace': array([100. , 112.5, 125. , 137.5, 150. , 162.5, 175. , 187.5, 200. ])}

In [15]:
import pandas as pd

In [18]:
df = pd.DataFrame(dict1)
df

ValueError: arrays must all be same length

In [14]:
dict1 = {'zeros':np.zeros(10),
        'ones':np.ones(10),
        'arange':np.arange(10,20),
        'linspace':np.linspace(100,200,num=10)}
dict1

{'zeros': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
 'ones': array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]),
 'arange': array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19]),
 'linspace': array([100.        , 111.11111111, 122.22222222, 133.33333333,
        144.44444444, 155.55555556, 166.66666667, 177.77777778,
        188.88888889, 200.        ])}

In [16]:
df = pd.DataFrame(dict1)
df

   zeros  ones  arange    linspace
0    0.0   1.0      10  100.000000
1    0.0   1.0      11  111.111111
2    0.0   1.0      12  122.222222
3    0.0   1.0      13  133.333333
4    0.0   1.0      14  144.444444
5    0.0   1.0      15  155.555556
6    0.0   1.0      16  166.666667
7    0.0   1.0      17  177.777778
8    0.0   1.0      18  188.888889
9    0.0   1.0      19  200.000000

In [ ]:
NaN  >> Not a number
NaT  >> Not a time

In [19]:
df['List1'] = [2,3,4,5,6,np.nan,2,3,4,5]
df

   zeros  ones  arange    linspace  List1
0    0.0   1.0      10  100.000000    2.0
1    0.0   1.0      11  111.111111    3.0
2    0.0   1.0      12  122.222222    4.0
3    0.0   1.0      13  133.333333    5.0
4    0.0   1.0      14  144.444444    6.0
5    0.0   1.0      15  155.555556    NaN
6    0.0   1.0      16  166.666667    2.0
7    0.0   1.0      17  177.777778    3.0
8    0.0   1.0      18  188.888889    4.0
9    0.0   1.0      19  200.000000    5.0

In [20]:
df['new_range'] = np.arange(22,32)
df

   zeros  ones  arange    linspace  List1  new_range
0    0.0   1.0      10  100.000000    2.0         22
1    0.0   1.0      11  111.111111    3.0         23
2    0.0   1.0      12  122.222222    4.0         24
3    0.0   1.0      13  133.333333    5.0         25
4    0.0   1.0      14  144.444444    6.0         26
5    0.0   1.0      15  155.555556    NaN         27
6    0.0   1.0      16  166.666667    2.0         28
7    0.0   1.0      17  177.777778    3.0         29
8    0.0   1.0      18  188.888889    4.0         30
9    0.0   1.0      19  200.000000    5.0         31

### 7. eye()

In [ ]:
[1 0 0 0]
[0 1 0 0]
[0 0 1 0]
[0 0 0 1]

It will return 2D array with ones on diagonal and zeros elsewhere

In [22]:
np.eye(3,dtype='int')

array([[1, 0, 0],
       [0, 1, 0],
       [0, 0, 1]])

In [23]:
np.eye(3,10,dtype='int')

array([[1, 0, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 1, 0, 0, 0, 0, 0, 0, 0, 0],
       [0, 0, 1, 0, 0, 0, 0, 0, 0, 0]])

In [25]:
np.eye(5,dtype='int',k=2) # k = from which index

array([[0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1],
       [0, 0, 0, 0, 0],
       [0, 0, 0, 0, 0]])

### 8. identity

In [27]:
np.identity(4,dtype='int')

array([[1, 0, 0, 0],
       [0, 1, 0, 0],
       [0, 0, 1, 0],
       [0, 0, 0, 1]])

In [28]:
np.identity(5,dtype='int')

array([[1, 0, 0, 0, 0],
       [0, 1, 0, 0, 0],
       [0, 0, 1, 0, 0],
       [0, 0, 0, 1, 0],
       [0, 0, 0, 0, 1]])

### 9. random()

In [ ]:
Used to generate random Numbers:
1. rand()
2. randint()
3. randn()
4. ranf()

#### 9.1 random.rand()

In [ ]:
Returns values between 0 to 1 interval

In [30]:
arr1 = np.random.rand(5)
arr1

array([0.5006499 , 0.59931238, 0.54990375, 0.89290549, 0.04177077])

In [31]:
arr1 = np.random.rand(10)
arr1

array([0.128495  , 0.54196536, 0.7864931 , 0.52600384, 0.7958425 ,
       0.83927508, 0.11284521, 0.95775147, 0.74236335, 0.19033875])

In [32]:
arr1 = np.random.rand(4,5)
arr1

array([[0.4701813 , 0.41507587, 0.2773377 , 0.69407801, 0.34116928],
       [0.02315347, 0.45180498, 0.82312872, 0.02167948, 0.05361615],
       [0.82684468, 0.6497806 , 0.80814788, 0.02723329, 0.92092127],
       [0.82940989, 0.50439582, 0.58621802, 0.51922082, 0.20132414]])

In [33]:
arr1 = np.random.rand(2,3)
arr1

array([[0.88907989, 0.22155641, 0.43010835],
       [0.46547352, 0.93887377, 0.40883537]])

#### 9.2 random.randint()

In [ ]:
random integers

In [65]:
arr = np.random.randint(5,20, size = 10)
arr

array([ 7,  8, 18,  8, 12, 11, 19, 18,  6, 16])

In [67]:
arr = np.random.randint(10,100, size = 10)
arr

array([41, 45, 77, 18, 84, 84, 75, 32, 31, 71])

In [ ]:
arr = np.random.randint(10,100, size = 10)
arr

In [68]:
arr = np.random.randint(10,100, size = 4)
arr

array([80, 33, 95, 54])

#### 9.3 random.ranf()

In [ ]:
Values between 0.0 to 1.0 interval

In [69]:
arr = np.random.ranf(4)
arr

array([0.06222395, 0.09818213, 0.45941359, 0.21317271])

In [71]:
arr = np.random.ranf((4,3))
arr

array([[0.07932711, 0.39081695, 0.81534326],
       [0.61615319, 0.56160157, 0.68913692],
       [0.88947524, 0.512062  , 0.82132754],
       [0.21859854, 0.17659733, 0.91192051]])

#### 9.4 random.randn()

In [ ]:
Returns Normally Distributed values

In [72]:
arr = np.random.randn(5)
arr

array([-1.2211836 , -1.10291032,  0.70984543, -1.75673299,  3.23788002])

In [75]:
arr = np.random.randn(2,4)
arr

array([[1.5715399 , 0.50570708, 1.11792814, 0.69464772],
       [0.17499752, 1.04887905, 1.13834745, 1.5732117 ]])

### 10. sort()

In [76]:
arr = np.random.randint(10,40,size=10)
arr

array([23, 14, 22, 31, 14, 18, 38, 16, 19, 33])

In [77]:
np.sort(arr)

array([14, 14, 16, 18, 19, 22, 23, 31, 33, 38])

In [79]:
dict1 = {'zeros':np.zeros(10),
        'ones':np.ones(10),
        'arange':np.arange(10,20),
        'linspace':np.linspace(100,200,num=10),
        'randint':np.random.randint(10,40,size=10),
        'randnormal':np.random.randn(10)}
dict1

{'zeros': array([0., 0., 0., 0., 0., 0., 0., 0., 0., 0.]),
 'ones': array([1., 1., 1., 1., 1., 1., 1., 1., 1., 1.]),
 'arange': array([10, 11, 12, 13, 14, 15, 16, 17, 18, 19]),
 'linspace': array([100.        , 111.11111111, 122.22222222, 133.33333333,
        144.44444444, 155.55555556, 166.66666667, 177.77777778,
        188.88888889, 200.        ]),
 'randint': array([35, 16, 15, 37, 15, 32, 14, 27, 11, 38]),
 'randnormal': array([ 1.0001857 ,  1.28944022, -1.10398813, -0.57864627,  1.26271906,
        -0.05373059,  2.55671489, -0.41943947, -0.64857933,  0.93587891])}

In [80]:
df = pd.DataFrame(dict1)
df

   zeros  ones  arange    linspace  randint  randnormal
0    0.0   1.0      10  100.000000       35    1.000186
1    0.0   1.0      11  111.111111       16    1.289440
2    0.0   1.0      12  122.222222       15   -1.103988
3    0.0   1.0      13  133.333333       37   -0.578646
4    0.0   1.0      14  144.444444       15    1.262719
5    0.0   1.0      15  155.555556       32   -0.053731
6    0.0   1.0      16  166.666667       14    2.556715
7    0.0   1.0      17  177.777778       27   -0.419439
8    0.0   1.0      18  188.888889       11   -0.648579
9    0.0   1.0      19  200.000000       38    0.935879

In [84]:
df.sort_values(['randint'])

   zeros  ones  arange    linspace  randint  randnormal
8    0.0   1.0      18  188.888889       11   -0.648579
6    0.0   1.0      16  166.666667       14    2.556715
2    0.0   1.0      12  122.222222       15   -1.103988
4    0.0   1.0      14  144.444444       15    1.262719
1    0.0   1.0      11  111.111111       16    1.289440
7    0.0   1.0      17  177.777778       27   -0.419439
5    0.0   1.0      15  155.555556       32   -0.053731
0    0.0   1.0      10  100.000000       35    1.000186
3    0.0   1.0      13  133.333333       37   -0.578646
9    0.0   1.0      19  200.000000       38    0.935879

In [88]:
a = df.sort_values(['randint','randnormal'],ascending=False)
a

   zeros  ones  arange    linspace  randint  randnormal
9    0.0   1.0      19  200.000000       38    0.935879
3    0.0   1.0      13  133.333333       37   -0.578646
0    0.0   1.0      10  100.000000       35    1.000186
5    0.0   1.0      15  155.555556       32   -0.053731
7    0.0   1.0      17  177.777778       27   -0.419439
1    0.0   1.0      11  111.111111       16    1.289440
4    0.0   1.0      14  144.444444       15    1.262719
2    0.0   1.0      12  122.222222       15   -1.103988
6    0.0   1.0      16  166.666667       14    2.556715
8    0.0   1.0      18  188.888889       11   -0.648579

In [ ]:
Axis = 0 >> rows
Axis = 1 >> column

In [87]:
df.sort_index(axis=1)

   arange    linspace  ones  randint  randnormal  zeros
0      10  100.000000   1.0       35    1.000186    0.0
1      11  111.111111   1.0       16    1.289440    0.0
2      12  122.222222   1.0       15   -1.103988    0.0
3      13  133.333333   1.0       37   -0.578646    0.0
4      14  144.444444   1.0       15    1.262719    0.0
5      15  155.555556   1.0       32   -0.053731    0.0
6      16  166.666667   1.0       14    2.556715    0.0
7      17  177.777778   1.0       27   -0.419439    0.0
8      18  188.888889   1.0       11   -0.648579    0.0
9      19  200.000000   1.0       38    0.935879    0.0

In [89]:
a.sort_index()

   zeros  ones  arange    linspace  randint  randnormal
0    0.0   1.0      10  100.000000       35    1.000186
1    0.0   1.0      11  111.111111       16    1.289440
2    0.0   1.0      12  122.222222       15   -1.103988
3    0.0   1.0      13  133.333333       37   -0.578646
4    0.0   1.0      14  144.444444       15    1.262719
5    0.0   1.0      15  155.555556       32   -0.053731
6    0.0   1.0      16  166.666667       14    2.556715
7    0.0   1.0      17  177.777778       27   -0.419439
8    0.0   1.0      18  188.888889       11   -0.648579
9    0.0   1.0      19  200.000000       38    0.935879

In [90]:
df['randint'].sort_values()

8    11
6    14
2    15
4    15
1    16
7    27
5    32
0    35
3    37
9    38
Name: randint, dtype: int32

In [91]:
df['randint']

0    35
1    16
2    15
3    37
4    15
5    32
6    14
7    27
8    11
9    38
Name: randint, dtype: int32

### 11. Append()

In [ ]:
Append values to the end of an array

In [92]:
arr1 = np.array([2,3,4,5])
arr2 = np.array([10,20,30,40])

In [93]:
arr1 + arr2

array([12, 23, 34, 45])

In [94]:
np.append(arr1,arr2)

array([ 2,  3,  4,  5, 10, 20, 30, 40])

In [95]:
np.append(arr1,100)

array([  2,   3,   4,   5, 100])

In [96]:
arr1 = np.array([2,3,4,5]) # 1D
arr2 = np.array([[10,20],[30,40]]) # 2D
arr = np.append(arr1,arr2) # flatten the array
arr # 1D

array([ 2,  3,  4,  5, 10, 20, 30, 40])

In [97]:
arr1 = np.array([[2,3,4,5]]) # 2D
arr2 = np.array([[10,20],[30,40]]) # 2D
arr = np.append(arr1,arr2) # flatten the array
arr # 1D

array([ 2,  3,  4,  5, 10, 20, 30, 40])

In [98]:
arr1 = np.array([[[2,3,4,5]]]) # 3D
arr2 = np.array([[10,20],[30,40]]) # 2D
arr = np.append(arr1,arr2) # flatten the array
arr # 1D

array([ 2,  3,  4,  5, 10, 20, 30, 40])

In [99]:
arr1 = np.array([[2,3],[4,5]]) # 2D
arr2 = np.array([[10,20],[30,40]]) # 2D
arr = np.append(arr1,arr2) # flatten the array
arr # 1D

array([ 2,  3,  4,  5, 10, 20, 30, 40])

In [101]:
arr1 = np.array([[2,3],[4,5]]) # 2D
arr2 = np.array([[10,20],[30,40]]) # 2D

print('Arr1 is :\n',arr1)
print('Arr2 is :\n',arr2)

arr = np.append(arr1,arr2,axis=0) # Adding rows
arr # 1D

Arr1 is :
 [[2 3]
 [4 5]]
Arr2 is :
 [[10 20]
 [30 40]]

array([[ 2,  3],
       [ 4,  5],
       [10, 20],
       [30, 40]])

In [102]:
arr1 = np.array([[2,3],[4,5]]) # 2D
arr2 = np.array([[10,20],[30,40]]) # 2D

print('Arr1 is :\n',arr1)
print('Arr2 is :\n',arr2)

arr = np.append(arr1,arr2,axis=1) # Adding column
arr # 1D

Arr1 is :
 [[2 3]
 [4 5]]
Arr2 is :
 [[10 20]
 [30 40]]

array([[ 2,  3, 10, 20],
       [ 4,  5, 30, 40]])

In [104]:
arr1 = np.array([[2,3],[4,5]]) # 2D
arr2 = np.array([[10,20]]) # 2D

print('Arr1 is :\n',arr1)
print('Arr2 is :\n',arr2)

arr = np.append(arr1,arr2,axis=0) # Adding row
arr # 1D

Arr1 is :
 [[2 3]
 [4 5]]
Arr2 is :
 [[10 20]]

array([[ 2,  3],
       [ 4,  5],
       [10, 20]])

### 12. np.concatenate()

In [ ]:
np.concatenate([a1,a2,a3,a4])

In [105]:
arr1 = np.array([2,3,4,5])
print('Arr1 is :\n',arr1)

arr2 = np.array([20,30,40,50])
print('Arr2 is :\n',arr2)
np.concatenate([arr1,arr2])

Arr1 is :
 [2 3 4 5]
Arr2 is :
 [20 30 40 50]

array([ 2,  3,  4,  5, 20, 30, 40, 50])

In [106]:
arr1 = np.array([2,3,4,5])
print('Arr1 is :\n',arr1)

arr2 = np.array([20,30,40,50])
print('Arr2 is :\n',arr2)

arr3 = np.array([200,300,400,500])
print('Arr2 is :\n',arr3)

np.concatenate([arr1,arr2,arr3])

Arr1 is :
 [2 3 4 5]
Arr2 is :
 [20 30 40 50]
Arr2 is :
 [200 300 400 500]

array([  2,   3,   4,   5,  20,  30,  40,  50, 200, 300, 400, 500])

In [107]:
arr1 = np.array([[2,3],[4,5]])
print('Arr1 is :\n',arr1)

arr2 = np.array([[20,30],[40,50]])
print('Arr2 is :\n',arr2)

np.concatenate([arr1,arr2])

Arr1 is :
 [[2 3]
 [4 5]]
Arr2 is :
 [[20 30]
 [40 50]]

array([[ 2,  3],
       [ 4,  5],
       [20, 30],
       [40, 50]])

In [108]:
arr1 = np.array([[2,3],[4,5]])
print('Arr1 is :\n',arr1)

arr2 = np.array([[20,30],[40,50]])
print('Arr2 is :\n',arr2)

np.concatenate([arr1,arr2],axis=1)

Arr1 is :
 [[2 3]
 [4 5]]
Arr2 is :
 [[20 30]
 [40 50]]

array([[ 2,  3, 20, 30],
       [ 4,  5, 40, 50]])

### for loops

In [109]:
array = np.array([1,2,3,4,5])
array

array([1, 2, 3, 4, 5])

In [110]:
for i in array:
    print('Value is :',i)

Value is : 1
Value is : 2
Value is : 3
Value is : 4
Value is : 5

In [111]:
arr2 = np.array([[20,30],[40,50]])
print('Arr2 is :\n',arr2)

for i in arr2:
    print('value is :',i)

Arr2 is :
 [[20 30]
 [40 50]]
value is : [20 30]
value is : [40 50]

In [113]:
for i in arr2:
    for j in i:
        print('value is :',j)

value is : 20
value is : 30
value is : 40
value is : 50

### nditer()

In [115]:
arr2 = np.array([[20,30],[40,50]])
print('Arr2 is :\n',arr2)

for item in np.nditer(arr2):
    print('value is :',item)

Arr2 is :
 [[20 30]
 [40 50]]
value is : 20
value is : 30
value is : 40
value is : 50

In [116]:
arr3 = np.array([[[3,4],[5,6]]])
print('Arr2 is :\n',arr3)

for item in np.nditer(arr3):
    print('value is :',item)

Arr2 is :
 [[[3 4]
  [5 6]]]
value is : 3
value is : 4
value is : 5
value is : 6

In [117]:
arr2 = np.array([[20,30],[40,50]])
print('Arr2 is :\n',arr2)

for i,item in np.ndenumerate(arr2):
    print(f'value at index {i} is {item}')

Arr2 is :
 [[20 30]
 [40 50]]
value at index (0, 0) is 20
value at index (0, 1) is 30
value at index (1, 0) is 40
value at index (1, 1) is 50

In [118]:
arr2[0,0]

20

In [120]:
arr2 = np.array([[[3,4],[5,6]],[[30,40],[50,60]]])
print('Arr2 is :\n',arr2)

for i,item in np.ndenumerate(arr2):
    print(f'value at index {i} is {item}')

Arr2 is :
 [[[ 3  4]
  [ 5  6]]

 [[30 40]
  [50 60]]]
value at index (0, 0, 0) is 3
value at index (0, 0, 1) is 4
value at index (0, 1, 0) is 5
value at index (0, 1, 1) is 6
value at index (1, 0, 0) is 30
value at index (1, 0, 1) is 40
value at index (1, 1, 0) is 50
value at index (1, 1, 1) is 60

### ceil

In [ ]:
celing
flooring

In [ ]:
4.6 >> 5
3.5 >> 4
3.1 >> 4
4.2 >> 5

In [121]:
np.ceil(4.6)

5.0

In [122]:
np.ceil(4.1)

5.0

In [123]:
np.ceil([2.2,4.1,5.7,3.9])

array([3., 5., 6., 4.])

### floor

In [ ]:
4.6 >> 4
3.5 >> 3
3.1 >> 3
4.2 >> 4

In [124]:
np.floor(4.6)

4.0

In [125]:
np.floor(4.1)

4.0

In [126]:
np.floor([2.2,4.1,5.7,3.9])

array([2., 4., 5., 3.])