# Pandas

In [ ]:
Pandas   >> Python Data Analysis
            Data Manipulation/wrangling

In [ ]:
Two Data Structure:
    1. Dataframe (2-D Data) >> multiple Columns
    2. Series (1-D Data) >> single column
    
1. Dataframe:
    1. 2-Dimensional Data # it consist multiple 1-D data
    2. Table with rows and columns
    3. Mutable (Add, remove, delete, update)
    
Use case:
    1. Used for working with datasets
    2. Analysis:
        Restructuring
        cleaning
        merging
    3. Cleaning
    4. Manipulating data
    5. joining multiple csv/excels (tables/datasets)
    6. Can clean messy data
    7. Correlations
    
Tabular data,
2-D data,
Mutable,
Rows and columns,
Hetrogenous data,
Time Series Analysis,
Easy handling of missing data(NaN, NaT)

In [ ]:
Columns >> features/variables/attributes/parameters/columns

### forms of data to deal with

In [ ]:
1. CSV files
2. Excel 
3. JSON
4. DataBase(MongoDB, SQLite,Oracle)

# How to create DataFrame

In [ ]:
1. List
2. Dictionary
3. Numpy Array

In [1]:
import numpy as np
import pandas as pd

#### Empty/Null DataFrame

In [2]:
dataframe = pd.DataFrame()
print(dataframe)

Empty DataFrame
Columns: []
Index: []

In [4]:
dataframe = pd.DataFrame()
dataframe

Empty DataFrame
Columns: []
Index: []

In [5]:
num = [1,2,3,4,5,6]
df = pd.DataFrame(num)
df

   0
0  1
1  2
2  3
3  4
4  5
5  6

In [10]:
num1 = [1,2,3,4,5,6]
num2 = [9,8,7,6,5,4]
df = pd.DataFrame(num1,num2)
df

   0
9  1
8  2
7  3
6  4
5  5
4  6

In [12]:
num1 = [1,2,3,4,5,6]
num2 = [9,8,7,6,5,4]
df = pd.DataFrame([num1,num2])
df

   0  1  2  3  4  5
0  1  2  3  4  5  6
1  9  8  7  6  5  4

In [11]:
num1 = [1,2,3,4,5,6]
num2 = [9,8,7,6,5,4]
num3 = [12,11,33,44,55,66]
df = pd.DataFrame(num1,num2,num3)
df

ValueError: Shape of passed values is (6, 1), indices imply (6, 6)

In [13]:
num1 = [1,2,3,4,5,6]
num2 = [9,8,7,6,5,4]
num3 = [12,11,33,44,55,66]
df = pd.DataFrame([num1,num2,num3])
df

    0   1   2   3   4   5
0   1   2   3   4   5   6
1   9   8   7   6   5   4
2  12  11  33  44  55  66

In [15]:
df1 = df.T
df1

   0  1   2
0  1  9  12
1  2  8  11
2  3  7  33
3  4  6  44
4  5  5  55
5  6  4  66