## Data Structures

In [ ]:
1. DataFrame >> 2-D
2. Series >> 1-D

In [1]:
import pandas as pd
import numpy as np

### 1. Create DataFrame

In [ ]:
df = pd.DataFrame()
1. list
2. dict
3. np.array

### 2. Access, Delete

In [2]:
array= np.random.randint(10,100,size=(5,4))
df = pd.DataFrame(array,columns=list('ABCD'))
df

    A   B   C   D
0  97  35  44  85
1  12  64  55  23
2  22  18  96  64
3  57  84  67  68
4  42  27  98  56

#### Access Column and Rows

In [ ]:
df['Col_name']
df[5:10]
df.loc['row_labels']
df.loc['row_labels','col_labels']
df.loc[1:4,'a':'d']
df.iloc[row_index,Col_index]
df.iloc[2,4]
df.iloc[2:4,1:5]
df.iloc[[1,3,5],[2,4,6]]

#### Add COlumn in DF

In [ ]:
df['new_col'] = list
df['new_col'] = array
df['new_col'] = Series
df['new_col'] = 'python' #stable
df.insert(loc/index,col_name,value)

#### Delete data from DF

In [ ]:
df.drop() # Delete rows and Columns
del df
del df['col_name']

## 3. Read Data

In [ ]:
pd.read_csv('csv_file_name.csv')
pd.read_excel('excel_file_name.xlsx')
pd.read_json('json_file_name.json')

df.to_csv('csv_file_name.csv')
df.to_excel('excel_file_name.xlsx')
df.to_json('json_file_name.json')

## 4. Analysis

In [ ]:
df.head()
df.tail()
df.info()
df.shape
df.describe()
df.index
df.columns
df.axes
df.dtypes
df.T

## 5. Sort DataFrame

In [ ]:
df.sort_index()
df.sort_values()
df.reset_index()
df.set_index()

## DF to array/list

In [ ]:
df['A'].values
df.A.values.tolist()
list(df.A.values)

## Handle Null/Missing Values

In [ ]:
df.isna()
df.isnull()
df.isna().sum()
df.isnull().sum()

df.fillna()
df.dropna(thresh = 2,axis=0/1)
df.replace()

In [ ]:
df.filter()
df.rename()
df.unique()
df.nunique()
df.value_counts()
df.astype()
df.quantile()
df.grouby()
df.grouby().first()
df.grouby().get_group()
df.apply()
df.duplicated
df.drop_duplicates
df['a'].between()
df.a.isin()

## Join Dataframes

In [ ]:
df.append()
pd.concat()
df.join()
df.merge()
pd.merge()

## Stats

In [ ]:
df['a'].mean()
df['A'].median()
stats.mode(df['a'])
df['a'].std
df['a'].min()
df['a'].max

In [ ]:
np.where(condition ,if,else)