In [2]:
import pandas as pd

In [47]:
df = pd.DataFrame({'A':[1,2,3,4,5],'B':['Red','Green','Black','White','Yellow']})
df

   A       B
0  1     Red
1  2   Green
2  3   Black
3  4   White
4  5  Yellow

In [48]:
df['A'].apply(lambda x:x**3)

0      1
1      8
2     27
3     64
4    125
Name: A, dtype: int64