## Groupby

In [3]:
import numpy as np
import pandas as pd

In [4]:
movies_df = pd.read_csv('movies_data.csv')
movies_df

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
...,...,...,...,...,...,...
974,7.4,Tootsie,PG,Comedy,116,"[u'Dustin Hoffman', u'Jessica Lange', u'Teri G..."
975,7.4,Back to the Future Part III,PG,Adventure,118,"[u'Michael J. Fox', u'Christopher Lloyd', u'Ma..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
977,7.4,Poltergeist,PG,Horror,114,"[u'JoBeth Williams', u""Heather O'Rourke"", u'Cr..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [ ]:
movies_df['genre'].value_counts()

In [ ]:
movies_df['content_rating'].value_counts()

In [ ]:
movies_df.groupby('genre').first()

In [ ]:
movies_df.groupby('genre').get_group('Action')

In [ ]:
movies_df[movies_df['genre']=='Action']

In [ ]:
movies_df.groupby('genre').get_group('Crime')

In [ ]:
df_Comedy = movies_df.groupby('genre').get_group('Comedy')
df_Comedy

In [ ]:
df_Comedy.reset_index(drop = True, inplace =True)

In [ ]:
df_Comedy

In [ ]:
# df_Comedy.to_csv('Comdey_Movies.csv')

In [5]:
df_Comedy = movies_df.groupby(['genre','content_rating']).get_group(('Comedy','PG-13'))
df_Comedy.shape

(23, 6)

In [ ]:
df_Comedy = movies_df.groupby(['genre','content_rating']).get_group(('Action','PG'))
df_Comedy.shape

In [ ]:
df_Comedy = movies_df.groupby(['genre','content_rating','duration']).get_group(('Comedy','PG-13',116))
df_Comedy

In [6]:
movies_df.groupby('genre').get_group('Family')

,star_rating,title,content_rating,genre,duration,actors_list
468,7.9,E.T. the Extra-Terrestrial,PG,Family,115,"[u'Henry Thomas', u'Drew Barrymore', u'Peter C..."
497,7.8,Willy Wonka & the Chocolate Factory,G,Family,100,"[u'Gene Wilder', u'Jack Albertson', u'Peter Os..."

In [9]:
movies_df.loc[1:5]

,star_rating,title,content_rating,genre,duration,actors_list
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
2,9.1,The Godfather: Part II,R,Crime,200,"[u'Al Pacino', u'Robert De Niro', u'Robert Duv..."
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
5,8.9,12 Angry Men,NOT RATED,Drama,96,"[u'Henry Fonda', u'Lee J. Cobb', u'Martin Bals..."

In [ ]:
movies_df.loc[movies_df['genre']=='Crime']

In [ ]:
movies_df.loc[(movies_df['genre']=='Crime') & (movies_df['content_rating']=='R')]

In [ ]:
movies_df.loc[(movies_df['genre']=='Crime') & (movies_df['content_rating']=='R')
             & (movies_df['duration'] >=120)]

In [ ]:
movies_df[(movies_df['genre']=='Crime') & (movies_df['content_rating']=='R')
             & (movies_df['duration'] >=120)]

In [ ]:
movies_df[(movies_df['duration'] >=120)
         & (movies_df['duration'] <=180)]

In [10]:
movies_df[movies_df['duration'].between(120,180)]

,star_rating,title,content_rating,genre,duration,actors_list
0,9.3,The Shawshank Redemption,R,Crime,142,"[u'Tim Robbins', u'Morgan Freeman', u'Bob Gunt..."
1,9.2,The Godfather,R,Crime,175,"[u'Marlon Brando', u'Al Pacino', u'James Caan']"
3,9.0,The Dark Knight,PG-13,Action,152,"[u'Christian Bale', u'Heath Ledger', u'Aaron E..."
4,8.9,Pulp Fiction,R,Crime,154,"[u'John Travolta', u'Uma Thurman', u'Samuel L...."
6,8.9,"The Good, the Bad and the Ugly",NOT RATED,Western,161,"[u'Clint Eastwood', u'Eli Wallach', u'Lee Van ..."
...,...,...,...,...,...,...
967,7.4,The Rock,R,Action,136,"[u'Sean Connery', u'Nicolas Cage', u'Ed Harris']"
968,7.4,The English Patient,R,Drama,162,"[u'Ralph Fiennes', u'Juliette Binoche', u'Will..."
973,7.4,The Cider House Rules,PG-13,Drama,126,"[u'Tobey Maguire', u'Charlize Theron', u'Micha..."
976,7.4,Master and Commander: The Far Side of the World,PG-13,Action,138,"[u'Russell Crowe', u'Paul Bettany', u'Billy Bo..."
978,7.4,Wall Street,R,Crime,126,"[u'Charlie Sheen', u'Michael Douglas', u'Tamar..."

In [11]:
movies_df['duration'].between(120,180)

0       True
1       True
2      False
3       True
4       True
       ...
974    False
975    False
976     True
977    False
978     True
Name: duration, Length: 979, dtype: bool

In [ ]:
movies_df[(movies_df['genre']=='Action') | (movies_df['genre']=='Crime')]

In [ ]:
DataBricks >> cluster >> look alike >> pyspark(to_pandas)

In [ ]:
github

In [ ]:
df1 = movies_df[((movies_df['content_rating'] == 'APPROVED') & 
         (movies_df['genre']=='Comedy')) |
         (movies_df['star_rating'] >=9)]
df1

In [ ]:
df1.reset_index(drop=True)