In [1]:
import pandas as pd
import numpy as np
from sklearn.preprocessing import StandardScaler

In [3]:
x1 = pd.DataFrame({'Test':np.random.randint(20,30, size = 20)})
x1_train = x1.head(15)
x1_test = x1.tail()
x1_test

    Test
15    20
16    27
17    22
18    24
19    29

In [4]:
x1_train

    Test
0     28
1     26
2     23
3     25
4     20
5     29
6     24
7     24
8     22
9     21
10    28
11    22
12    22
13    26
14    26

In [5]:
std_scaler = StandardScaler()
std_scaler.fit(x1_train)   # storing mean and std
std_scaler.transform(x1_train)

array([[ 1.35680105],
       [ 0.60302269],
       [-0.52764485],
       [ 0.22613351],
       [-1.6583124 ],
       [ 1.73369023],
       [-0.15075567],
       [-0.15075567],
       [-0.90453403],
       [-1.28142321],
       [ 1.35680105],
       [-0.90453403],
       [-0.90453403],
       [ 0.60302269],
       [ 0.60302269]])

In [6]:
std_scaler.transform(x1_test)

array([[-1.6583124 ],
       [ 0.97991187],
       [-0.90453403],
       [-0.15075567],
       [ 1.73369023]])

In [ ]:
# pickle >> It saves/preserves your object/model to utilise it in different location

1. pickle
2. Joblib


1. dump()
2. load()

In [7]:
import pickle
import joblib

In [8]:
model = pickle.dump(std_scaler,open('Std_Scaler.pkl', 'wb'))

In [9]:
with open('Std_Scaler_2.pkl','wb') as file:
    pickle.dump(std_scaler,file)

In [10]:
filename = 'Std_Scaler_3.pkl'
joblib.dump(std_scaler,filename)

['Std_Scaler_3.pkl']